@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "./variable";
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   overflow-x: hidden;
   scroll-behavior: smooth;
   background-color: $primary-color;
   user-select: none;
   &.hide-overflow{
    overflow: hidden;
   }
}

@import "./navbr";
@import "./button";
@import "./home";
@import "./about";
@import "./services";
@import "./contact";
@import "./footer";

table, td, th {
    border: 1px solid;
    padding: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }